<body>
    <nav>
        <ul>
            
        </ul>
    </nav>
    
    <div class="container">      
            <% foods.forEach(pet => { %>
                <li>
                    <h2>name:<%= pet.name %> </h2>
                    <p>instructions:<%= pet.instructions %></p>
                    <p>ingredients:<%= pet.ingredients %></p>
                </li>
            <% }) %>
        
       
    </div>
       
</body>