<body>
    <nav>
        <ul>
            
        </ul>
    </nav>
    
    <div class="container">      
            <% foods.forEach(pet => { %>
                <li>
                    <%=pet.name%>
                    <%=pet.instructions%>
                    <%=pet.ingredients%>
                </li>
            <% }) %>
        
       
    </div>
       
</body>